.RoadMapDiv{
    color: white;
    background: url('../../assets/Pooglr\ bg.jpg');
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.RoadMapList{
    font-size: 15px;
    margin-top: 10px;
    margin: auto;
    align-items: center;
    text-decoration:dotted;
    background: rgb(20, 20, 20, 0.4);
    display: flex;
}

.RoadMapLi{
    font-style: italic;
    text-shadow: 0 1px  #FFF677;

}
.RoadMapTitle{
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    color: #FFF766;
}

.useCaseTitle{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    color: #FFF766;
}



.useCaseIcon{
    font-size: 30px;
    color:  #FFF677;
}

.useCaseIconDiv{
    width: 300px;
}


.RoadMapTitles{
    color: white;
}



.useCase{
    padding-bottom: 150px;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(46, 44, 44);
    text-align: center;
}



.useCaseContent{
    margin: auto;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.liDiv{
    margin-left: 40px;
}

@media screen and (max-width:1300px){
    .useCaseIconDiv{
        width: 100px;
        margin: 10px;
    }
}


@media screen and (max-width:1100px){
    .useCaseIconDiv{
    width: 300px;
    }
}

@media screen and (max-width:950px) {
    .useCaseIconDiv{
     width: 200px;
    }
}


@media screen and (max-width:600px){
    .RoadMapList{
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
        flex-wrap: wrap;
    }

    .RoadMapTitle{
        font-size: 60px;
    }
}

@media screen and (max-width:450px){
    .liDiv{
        margin-left: 20px;
    }

    .useCaseIconDiv{
        width: 100%;
    }
}

@media screen and (max-width:300px) {
    .RoadMapTitle{
        font-size: 40px;
     
      
    }
    .useCaseTitle{
        font-size: 40px;
    }


    .RoadMapList{
        font-size: 20px;
        margin-top: 10px;
        width: 90%; 
    }
}