@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mr+Dafoe&display=swap');
.communityDiv{
    width: 50%;
    margin: auto;
    margin-top: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
}

.comIcon{
    font-size: 70px;
}

.comLink{
    color: #FFF677;
}
.comLists{
    list-style: none;
    display: flex;
    width: 60%;
    margin: auto;
    padding: 50px;
    margin-bottom: 50px;
  
}

.comList{
    margin-right: 50px;
}
.communityTitle{
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 100;
    font-family: 'Great Vibes';
}

@media screen and (max-width:1280px) {
    .comLists{
       
        width: 80%;
     
      
    }
}

@media screen and (max-width:1240px) {
    .comList{
        width: 80%;
    }

    .communityDiv{
        width: 80%;
       
    }
}

@media screen and (max-width:850px){
    .comList{
        width: 100%;
    }

    
    .communityDiv{
        width: 90%;
       
    }
}

@media screen and (max-width:600px){
    .communityDiv{
        width: 100%;
       
    }

    .communityTitle{
        font-size: 60px;
        margin-bottom: 30px;
        font-weight: 100;
        font-family: 'Great Vibes';
    }

    .comLists{
        list-style: none;
        display: flex;
        width: 100%;
        margin: auto;
        padding: 30px;
        margin-bottom: 50px;
    }
}


@media screen and (max-width:450px){
    .communityTitle{
        font-size: 50px;
    }

    .comLists{
        list-style: none;
        display: flex;
        width: 100%;
        margin: auto;
        padding: 10px;
        margin-bottom: 50px;
    }

    
.comIcon{
    font-size: 60px;
}
}

@media screen and (max-width:400px) {
    .comIcon{
        font-size: 40px;
    }

    .comLists{
        list-style: none;
        display: flex;
        width: 90%;
        margin: auto;
        padding: 10px;
        margin-bottom: 50px;
     
    }
}

@media screen and (max-width:300px){
    .comIcon{
        font-size: 30px;
    }
    .comLists{
        list-style: none;
        display: flex;
        width: 100%;
        margin: auto;
        padding: 5px;
        margin-bottom: 50px;
     
    }

    .communityDiv{
        font-size: 20px;
    }
}