.footer{
    color: white;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company{
    width: 300px;
}

.disclaimer{
    width: 500px;
    margin-top: 50px;
}



.community{
    width: 200px;
    height: 200px;
}

.connect{
    width: 200px;
    height: 200px;
}

.socials{
    display: flex;
    width: 500px;
    justify-content: space-between;
    height: 400px;
    margin-top: 20px;
}
#footerLink{
    color: white;
    margin-bottom: 10px;
}

.commTitle{
    color: #FFF766;
    /* font-weight: bolder; */
}

#disclaimerText{
text-align: justify;
}



@media screen and (max-width:1024px) {
    .company{
        width: 100%;
        
    }
    
    .disclaimer{
        width: 90%;
    } 
}


@media screen and (max-width:420px) {
    
.socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 400px;
    margin-top: 20px;
}
}

@media screen  and (max-width:300px){
    .socials{
        height: 420px;
        flex-wrap: wrap;
    }
}